#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 180px;
}

.container img{
    cursor: pointer;
    transition: transform 0.3s ease;
}

.container img:hover{
    transform: scale(1.2);
}

.pad{
    width: 250px;
    margin: 25px;
}
.pad:hover{
    cursor: pointer;
}

.pad-0{
    border-top-left-radius: 300px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.pad-1{
    border-top-right-radius: 300px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pad-2{
    border-bottom-left-radius: 300px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pad-3{
    border-bottom-right-radius: 300px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn-enter{
    width: 190px;
    margin-top: 550px;
    background-color: #ffe6b5;
    color: black;
    cursor: pointer;
    animation: shrink 1s ease-in-out infinite;
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9); 
    }
    100% {
        transform: scale(1);
    }
}